<div class="row">
    <h1>Crear vehículos</h1>
</div>

<div class="row">
    <form method="POST" action="" id="vehiculoForm">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_table}}
        </div>

        <input type="submit" class="btn btn-danger" value="Enviar" id="enviar">
        <input type="reset" class="btn btn-primary" value="Limpiar" id="limpiar">
        <div id="error" class="alert alert-danger" role="alert"></div>
    </form>

    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
</div>

<a href="{% url 'home' %}"> Regresar </a>